/* Mobile Responsive */
@media (max-width: 740px) {
    .mobile-full-width {
        width: 100% !important;
    }
    #slider .text-content {
        display: none;
    }

    #nav > li:first-child {
        margin-right: 62px;
    }

    #nav > li {
        display: block;
        background-color: #000;
    }
    .search-button {
        display: none;
    }

    .menu-button {
        display: inline-block;
    }

    #content .member-image {
        margin-bottom: 16px;
    }

    #tour .ticket-item {
        width: 100%;
        margin-bottom: 16px;
    }

    #contact .contact-info{
        margin-bottom: 16px;
    }
    #contact .contact-form .name-input,
    #contact .contact-form .email-input,
    #contact .contact-form .massage-input {
        padding: 0;
    }
    #contact .contact-form input {
        margin: 0;
    }
    .name-input {
        margin-bottom: 16px;
    }
    #contact .contact-form .massage-input {
        margin: 8px 0;
    }

    .modal-container {
        top: -15%;
        margin: 0 8px;
    }
}

/* Tablet Responsive */
@media (min-width: 741px) and (max-width: 1023px) {
    .modal-container {
        top: -20%;
        width: 80%;
    }
}

/* Tablet and mobile */
@media (max-width: 1023PX) {
    .footer-brand a {
        width: 40px;
    }
}