/* Mobile Responsive */
@media (max-width: 46.1875em) {
    .mobile-full-width {
        width: 100% !important;
    }
    .showed {
        display: block !important;
    }
    #nav > li:first-child {
        margin-right: 62px;
    }
    #nav > li {
        display: block;
        background-color: #000;
    }
    #nav > li:first-child ~ li,
    .search-button,
    #slider .text-content {
        display: none;
    }

    .send-button-wrapper {
        padding: 8px;
    }

    .menu-button {
        display: inline-block;
    }
    #content .member-image {
        margin-bottom: 16px;
    }

    #tour .ticket-item {
        width: 100%;
        margin-bottom: 16px;
    }

    #contact .contact-info{
        margin-bottom: 16px;
    }
    
    #contact .contact-form input {
        margin: 0;
    }
    .name-input {
        margin-bottom: 16px;
    }
    #contact .contact-form .massage-input {
        margin: 8px 0;
    }

    .modal-container {
        margin: 0 8px;
    }
}

/* Tablet Responsive */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .modal-container {
        width: 80%;
    }
}

/* Tablet and mobile */
@media (max-width: 63.9375em) {
    .footer-brand a {
        width: 40px;
    }
}